html {
  font-size: 10px;
}
.top-menu {
  background: #0008;
  color: #fff;
  padding-top: 2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 5rem;
}

.top-menu .column {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#banner {

}
.nav-btn {
  margin-top: 1rem;
}
.nav-btn .column {
  text-align: center;
}

.nav-btn .column img{
  width: 5rem;
}


.article-list {
  margin-top: 2rem;
}

.article-list .article-item {
  width: 100%;
  margin-top: 1rem;
}

.article-item img{
  width: 100%;
  float: left;

  border-radius: 1rem;
}

.article-item .title {
  background: #0006;
  height: 3rem;
  float: left;
  width: 100%;
  margin-top: -3rem;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 3rem;
  border-radius: 0 0 1rem 1rem;
}

.article-item .title span {
  float: right;
}

.clear{
  clear:both
}

.nav-tabBar{
  height: 40px;
  width: 100%;
  bottom: 0;
}

.tabBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  /*background: #fff;*/
  height: 4rem;
  background: #ffffff8c;
}

.tabBar .ui.grid {
  margin-top:0;
}
.tabBar .column {
  text-align: center;
}
