<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>我的第一个博客</title>
    <link rel="stylesheet" href="{% static "css/semantic.min.css" %}">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    <link rel="stylesheet" href="{% static "css/swiper.css" %}">
    <script src="{% static "js/vue.js" %}" charset="utf-8"></script>
    <script src="{% static "js/reqwest.js" %}" charset="utf-8"></script>
</head>

<body>
    {% verbatim %}
    <div id="index">
        <!-- 顶部导航栏 -->
        <div class="top-menu">
            <div class="ui container">
                <div class="ui four column grid">

                    <div v-for="(item, index) in topmenu" :key="index" class="column">
                        {{ item.title }}
                    </div>

                </div>
            </div>
        </div>

        <!-- 首页幻灯 -->
        <div id="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div v-for='item in banner' class="swiper-slide">
                        <img :src="item.img" alt="" style="width:100%;">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <!-- 首页功能导航 -->
        <div class="nav-btn">
            <div class="ui container">
                <div class="ui four column grid">
                    <div class="column">
                        <img src="/static/icon/riji.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/beiwang.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/tupian.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/shezhi.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/riji.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/beiwang.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/tupian.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/shezhi.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- 首页的文章列表 -->
        <div class="article-list">
            <div class="ui container">
                <div class="ui centered header">
                    <h2>最新更新</h2>
                </div>
                <!-- 循环文章列表 -->
                <div class="article-item">
                    <img src="static/image/suolvetu.png" alt="">
                    <div class="title">
                        这是文章的标题
                        <span>2019-1-31</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="article-item">
                    <img src="static/image/suolvetu.png" alt="">
                    <div class="title">
                        这是文章的标题
                        <span>2019-1-31</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="article-item">
                    <img src="static/image/suolvetu.png" alt="">
                    <div class="title">
                        这是文章的标题
                        <span>2019-1-31</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="article-item">
                    <img src="static/image/suolvetu.png" alt="">
                    <div class="title">
                        这是文章的标题
                        <span>2019-1-31</span>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>

        <div class="nav-tabBar"></div>

        <!-- 底部tabbar -->
        <div class="tabBar">
            <div class="ui four column grid">
                <div class="column">
                    首页
                </div>
                <div class="column">
                    分类
                </div>
                <div class="column">
                    热门
                </div>
                <div class="column">
                    我的
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
    <script src="/static/js/index.js" charset="utf-8"></script>
    <script src="/static/js/swiper.js" charset="utf-8"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>

</body>

</html>